{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-wrapper">
    <h2 class="profile-title">Crear servicio</h2>
    <div class="profile-card" style="text-align: left;">
        <form method="post">
            {% csrf_token %}
            <div class="form-errors">
                {{ form.non_field_errors }}
            </div>
            <div class="profile-field">
                {{ form.name.label_tag }}
                {{ form.name }}
                {% for error in form.name.errors %}
                    <div class="form-errors">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="profile-field">
                {{ form.duration.label_tag }}
                {{ form.duration }}
                {% for error in form.duration.errors %}
                    <div class="form-errors">{{ error }}</div>
                {% endfor %}
            </div>
            <button type="submit" class="profile-btn">Guardar servicio</button>
        </form>
    </div>
</div>
{% endblock %}
