{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/">NATURSUR</a></li>
                <li><a href="">SOBRE NOSOTROS</a></li>
                <li><a href="">SERVICIOS</a></li>
                <li><a href="">FISIOTERAPEUTAS</a></li>
                <li><a href="">RECURSOS</a></li>
                <li><a href="">CONTACTO</a></li>
                {% if user.is_authenticated and user.role == 'ADMIN' %}
                    <li><a href="/admin">Panel de administración</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="">{{ user.username }}</a></li>
                <li><a href="{% url 'logout' %}">SALIR</a></li>
                {% endif %}
            </ul>         
        </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>
</body>
</html>