{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NATURSUR</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="">Sobre nosotros</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Fisioterapeutas</a></li>

                <li class="logo"><a href="/">NATURSUR</a></li>

                <li><a href="">Recursos</a></li>
                <li><a href="{% url 'contact' %}">Contacto</a></li>
                
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">{{ user.username }}</a>
                        <div class="dropdown-content">
                            <a href="">Mi Perfil</a>
                            <a href="{% url 'logout' %}">Salir</a>
                            {% if user.is_staff %}
                                <a href="/admin">Administrador</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}">INICIAR SESIÓN</a></li>
                {% endif %}
            </ul>       
        </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>
</body>
</html>