.history-wrapper {
    max-width: 950px;
    margin: 80px auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.history-title {
    font-size: 24px;
    margin-bottom: 30px;
    color: #00373E;
}

.history-card {
    background-color: #a6dce8;
    padding: 50px;
    border-radius: 24px;
}

.history-item {
    background: #f2f2f2;
    padding: 18px 24px;
    border-radius: 28px;
    margin-bottom: 30px;
}

.history-data {
    font-size: 15px;
    margin-bottom: 12px;
}

.review-btn {
    width: 220px;
    padding: 10px 0;
    border: none;
    border-radius: 24px;
    background-color: #00373E;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}

.no-appointments {
    font-size: 16px;
    color: #00373E;
}
