body{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

.navbar li{
    float:left
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(59, 180, 59);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(42, 124, 42);
}

.navbar {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}