
body {
    background-color: #f0f2f5;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.form-container {
    display: flex;
    width: 900px;
    max-width: 90%;
    margin: 50px auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}


.form-image {
    width: 50%;
    background: url('https://img.freepik.com/foto-gratis/vela-encendida-sobre-piedras-spa-servilleta-rosa-sal-himalaya-sobre-fondo-color-melocoton-sobre-fondo-gris_23-2147940524.jpg?semt=ais_hybrid&w=740&q=80') no-repeat center center;
    background-size: cover;
    min-height: 600px;
}


.form-content {
    width: 50%;
    padding: 40px;
    box-sizing: border-box; 
}

.form-content h2 {
    font-weight: 600;
    color: #333;
    text-align: left;
    margin-bottom: 30px;
    text-transform: uppercase; 
}

.form-group {
    margin-bottom: 25px;
    position: relative;
}

.form-group label {
    display: block;
    font-size: 12px;
    color: #555;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.form-group input {
    width: 100%;
    padding: 10px 0;
    border: none; 
    border-bottom: 1px solid #ddd; 
    background: transparent;
    font-size: 16px;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.form-group input:focus {
    outline: none;
    border-bottom: 1px solid #00373E; 
}


button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #333; 
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #555;
}

.reg {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    display: block;
}
.reg a {
    color: #00373E; 
    text-decoration: none;
    font-weight: 600;
}
.reg a:hover {
    text-decoration: underline;
}